In [1]:
import pandas as pd
import sys, os
# Importing necessary libraries (assuming they're not included in the module)
import warnings
warnings.filterwarnings('ignore')  # To suppress any warnings for clearer output

In [2]:
#Adding the directory
sys.path.append(os.path.abspath('../scripts'))

In [3]:
import sales_analysis as da

In [4]:
store = da.load_data('store.csv')

2024-09-20 20:48:53,432 - INFO - Loading data from file in notebooks dir
2024-09-20 20:48:53,475 - INFO - Data loaded with shape (1115, 10)

In [5]:
da.clean_data(store)

2024-09-20 20:48:53,522 - INFO - Checking for missing values
2024-09-20 20:48:55,519 - INFO - Store data is now clean

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,CompetitionOpenSince,StoreType_a,StoreType_b,...,IsPromoMar,IsPromoApr,IsPromoMay,IsPromoJun,IsPromoJul,IsPromoAug,IsPromoSep,IsPromoOct,IsPromoNov,IsPromoDec
0,1,1270.0,9,2008,0,NaN,NaN,2008-09-01,False,False,...,0,0,0,0,0,0,0,0,0,0
1,2,570.0,11,2007,1,13.0,2010.0,2007-11-01,True,False,...,0,1,0,0,1,0,0,1,0,0
2,3,14130.0,12,2006,1,14.0,2011.0,2006-12-01,True,False,...,0,1,0,0,1,0,0,1,0,0
3,4,620.0,9,2009,0,NaN,NaN,2009-09-01,False,False,...,0,0,0,0,0,0,0,0,0,0
4,5,29910.0,4,2015,0,NaN,NaN,2015-04-01,True,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,1111,1900.0,6,2014,1,31.0,2013.0,2014-06-01,True,False,...,0,1,0,0,1,0,0,1,0,0
1111,1112,1880.0,4,2006,0,NaN,NaN,2006-04-01,False,False,...,0,0,0,0,0,0,0,0,0,0
1112,1113,9260.0,nan,nan,0,NaN,NaN,NaT,True,False,...,0,0,0,0,0,0,0,0,0,0
1113,1114,870.0,nan,nan,0,NaN,NaN,NaT,True,False,...,0,0,0,0,0,0,0,0,0,0
1114,1115,5350.0,nan,nan,1,22.0,2012.0,NaT,False,False,...,1,0,0,1,0,0,0,0,0,1

**Importing the train data to access the sales info**

In [6]:
sales = da.load_data('train.csv')

2024-09-20 20:48:55,744 - INFO - Loading data from file in notebooks dir
2024-09-20 20:49:02,018 - INFO - Data loaded with shape (1017209, 9)

Merging data of store and sales(train.csv)

In [7]:
# Merging the datasets on the 'Store' column
df = pd.merge(sales, store, on='Store', how='inner')

In [8]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,CompetitionOpenSince
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9,2008,0,NaN,NaN,NaN,2008-09-01
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11,2007,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2007-11-01
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12,2006,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2006-12-01
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9,2009,0,NaN,NaN,NaN,2009-09-01
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4,2015,0,NaN,NaN,NaN,2015-04-01

In [9]:
da.plot_holiday_sales(df)

In [ ]:
da.plot_weekly_sales(df)